@import 'variables/colors';

.bookmarkBtn {
	background: none;
	border: none;
	padding: 0;

	&:hover {
		cursor: pointer;
	}

	svg {
		width: 48px;
		height: 48px;

		path {
			stroke: $thanos-purple-400;
			fill: $gray-100;
		}
	}

	&.bookmarked svg path {
		stroke: $thanos-purple-500;
		fill: $marvel-red;
	}
}
