@use 'variables/colors';

.navContainer {
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	position: relative;

	@media only screen and (min-width: 768px) {
		max-width: 768px;
	}

	@media only screen and (min-width: 1024px) {
		max-width: 1024px;
	}

	@media only screen and (min-width: 1500px) {
		max-width: 1500px;
	}

	nav {
		border: 3px solid colors.$marvel-red;
		width: 528px;
		height: 48px;
		border-radius: 24px;
		box-sizing: border-box;
		display: inline-block;
		background-color: colors.$thanos-purple-400;
		position: relative;

		a {
			height: 42px;
			width: 33.333%;
			vertical-align: middle;
			line-height: 42px;
			font-size: 1.5rem;
			text-transform: uppercase;
			color: colors.$gray-100;
			text-decoration: none;
			display: inline-block;
			z-index: 1;
			position: relative;
			transition: color .2s ease;

			&.active {
				font-weight: bold;
				color: #FFFFFF;
			}
		}

	}

	.pageFilters {
		position: absolute;
		top: 0;
		left: 0;
	}

	.activeIndicator {
		position: absolute;
		top: -3px;
		bottom: -3px;
		transition: left .2s ease;
		width: 33.333%;
		background-color: colors.$marvel-red;
		z-index: 0;
		border-radius: 24px;
	}

	.active {
		&#charactersNav ~ .activeIndicator {
			left: 0;
		}

		&#comicsNav ~ .activeIndicator {
			left: 33.333%;
		}

		&#bookmarksNav ~ .activeIndicator {
			left: 66.666%;
		}
	}
}

